
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Homelayout.cshtml";
}

<h1>ContactUs</h1>

@section breadcrumb{
    <nav aria-label="breadcrumb" class="my-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Hakkımızda</a></li>
  
        </ol>
    </nav>
}

 